include modal.pug

mixin IncludeCSS(filename)
    - let path = `assets/css/${filename}`
    link(rel="stylesheet", href=path)

mixin IncludeJS(filename)
    - let path = `assets/js/${filename}`
    script(src=path)

mixin InputRadio(name, label)
    label.radio= label
        input(type="radio" name=name)
        span.checkmark

mixin InputCheckbox(name, label)
    label.radio= label
        input(type="checkbox" name=name)
        span.checkmark

mixin BtnMenu()
    button.btn__menu
        span

mixin CourseCard()
    .course-card
        .img
            img(src="/assets/images/courses/1.jpg", alt="")
            span 07.04.2022 / 2 недели
        .desc
            span.name Охрана исключительных прав IT-компаний: программное обеспечение и товарные знаки
            span.lectors Иванов А.А.
            .btn-wrapper 
                button.btn Перейти
                button.tag Курс

mixin HowTab()
    .wrapper 
        .left-block 
            .img-blank
                span Контент будет после отрисовки внутренних страниц, <br> чтобы показать их наглядно здесь
        .right-block 
            p Актуальные знания от признанных экспертов рынка для новичков и практикующих специалистов. На платформе можнополучить знания по актуальным темам и востребованные навыки.
            p Все курсы нацелены на практику: мы следим за актуальностью материала и помогаем с трудоустройством и стажировкой.

mixin Review()
    .review 
        .img-wrapper 
            .img 
                img(src="/assets/images/reviews/1.jpg", alt="")
            a(href="").btn-video
            .name-wrapper 
                span.name Иванов Иван Иванович
        p.text Последовательное изложение заявленной темы. Много исторических справок относительно развития представительства, которые помогают более структурно увидеть и понять названый институт, что в конечном итоге, приводит к его более правильному восприятию. Знания полученные на данном курсе, актуальны и в настоящее время.  

mixin Calendar()
    - let days = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
    - let numbers = [28, 29, 30, 31]
    - let numbers2 = [1, 2, 3, 4, 5, 6, 7, 8]
    - let index = 0

    for item in days
        button=item
    for item in numbers
        button=item
    - for (index = 1; index < 31; index++)
        if (index == 15)
            button.active=index
        else
            button.current=index
    for item in numbers2
        button=item

mixin Header()
    header 
        .container 
            a(href="/" class="logo")
                img(src="/assets/images/logo.png", alt="")
            .menu-wrapper 
                .left-block
                    a(href="") Курсы 
                    a(href="") Вебинары 
                    a(href="") О подписке 
                .right-block 
                    .search-block 
                        input(type="text" placeholder="Поиск")
                    a(href="/lk.html").btn-lk 
                        span Личный кабинет
            .menu-mobile 
                .menu 
                    a(href="") Курсы 
                    a(href="") Вебинары 
                    a(href="") О подписке 
                a(href="/").btn-lk 
                        span Личный кабинет
            +BtnMenu()

mixin Footer()
    section.help-form 
        .container 
            form(action="").help
                h2 Поможем в выборе
                p Если у вас есть вопросы о формате или вы не знаете, что выбрать, оставьте свой номер: мы позвоним, чтобы ответить на все ваши вопросы.
                .wrapper
                    input(type="text" placeholder="Ваше  имя")
                    input(type="text" placeholder="+7 (___) ___-__-__")
                    button.btn Отправить
    footer
        .first-block 
            .container 
                .row
                    .col
                        a(href="").bold Главная   
                        a(href="").bold Вебинары  
                        a(href="").bold О подписке  
                        a(href="").bold Корпоративным клиентам  
                    .col.soc 
                        span Подписывайтесь!
                        .icons-wrapper 
                            a(href="").vk
                                img(src="assets/images/icons/vk.png", alt="")
                            a(href="").fb 
                                img(src="assets/images/icons/fb.png", alt="")
                            a(href="").inst 
                                img(src="assets/images/icons/inst.png", alt="")
                            a(href="").ok 
                                img(src="assets/images/icons/ok.png", alt="")
                    .col.right
                        .wrapper 
                            a(href="").bold Правовые вопросы
                            a(href="") Политика конфиденциальности
                            a(href="") Согласие на обработку данных
                            a(href="") Пользовательское соглашение
        .second-block
            .container 
                span © 2022 Copyright
                span.salut Дизайн и разработка: <a href="https://salut-promo.ru/">SalutPromo</a>

mixin Dropdown(b, span)
    .dropdown  
        button
            b=b
            span=span
        .outer-wrapper 
            .inner-wrapper 
                .text
                    p Введение в разработку программного обеспечения
                    p Различные подходы ведения разработки ПО и отличие внутренней разработки от заказной
                    p Отличия разработки ПО от разработки моделей (машинное обучение ИИ)
                    p Результаты разработки ПО, нюансы
                    p Ограничения ответственности за результаты обеспечения
                    ul 
                        li Python. Знакомство с консолью
                        li Введение в типы данных и циклы
                        li Условные конструкции. Операции сравнения
                        li Циклы. Типы данных. Коллекции данных
                .date 
                    span 12 часов теории
                    span 54 часа практики

mixin HowTo()
    section.how-to 
        .container 
            h2.title Как проходит обучение 
            .btn-switch-wrapper
                button.btn-tab-switch.active(target="how-1") Курсы
                button.btn-tab-switch(target="how-2") Вебинары
                button.btn-tab-switch(target="how-3") Прохождение заданий и тестов
                button.btn-tab-switch(target="how-4") Получение оценок и достижений 
            .tab-viewer 
                .tab.active(tab-name="how-1")
                    +HowTab()
                .tab(tab-name="how-2")
                    +HowTab()
                .tab(tab-name="how-3")
                    +HowTab()
                .tab(tab-name="how-4")
                    +HowTab()