include modal.pug

mixin IncludeCSS(filename)
    - let path = `assets/css/${filename}`
    link(rel="stylesheet", href=path)

mixin IncludeJS(filename)
    - let path = `assets/js/${filename}`
    script(src=path)

mixin InputRadio(name, label)
    label.radio= label
        input(type="radio" name=name)
        span.checkmark

mixin BtnMenu()
    button.btn__menu
        span

mixin CourseCard()
    .course-card
        .img
            img(src="/assets/images/courses/1.jpg", alt="")
            span 07.04.2022 / 2 недели
        .desc
            span.name Охрана исключительных прав IT-компаний: программное обеспечение и товарные знаки
            span.lectors Иванов А.А.
            .btn-wrapper 
                button.btn Перейти
                button.tag Курс
