include modal.pug

mixin IncludeCSS(filename)
    - let path = `assets/css/${filename}`
    link(rel="stylesheet", href=path)

mixin IncludeJS(filename)
    - let path = `assets/js/${filename}`
    script(src=path)

mixin InputRadio(name, label)
    label.radio= label
        input(type="radio" name=name)
        span.checkmark

mixin BtnMenu()
    button.btn__menu
        span

mixin CourseCard()
    .course-card
        .img
            img(src="/assets/images/courses/1.jpg", alt="")
            span 07.04.2022 / 2 недели
        .desc
            span.name Охрана исключительных прав IT-компаний: программное обеспечение и товарные знаки
            span.lectors Иванов А.А.
            .btn-wrapper 
                button.btn Перейти
                button.tag Курс

mixin HowTab()
    .wrapper 
        .left-block 
            .img-blank
                span Контент будет после отрисовки внутренних страниц, <br> чтобы показать их наглядно здесь
        .right-block 
            p Актуальные знания от признанных экспертов рынка для новичков и практикующих специалистов. На платформе можнополучить знания по актуальным темам и востребованные навыки.
            p Все курсы нацелены на практику: мы следим за актуальностью материала и помогаем с трудоустройством и стажировкой.

mixin Review()
    .review 
        .img-wrapper 
            .img 
                img(src="/assets/images/reviews/1.jpg", alt="")
            a(href="").btn-video
            .name-wrapper 
                span.name Иванов Иван Иванович
        p.text Последовательное изложение заявленной темы. Много исторических справок относительно развития представительства, которые помогают более структурно увидеть и понять названый институт, что в конечном итоге, приводит к его более правильному восприятию. Знания полученные на данном курсе, актуальны и в настоящее время.  
